{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Reset Password{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="new_password">New Password</label>
    <input type="password" name="new_password" id="new_password" required minlength="8">
    
    <label for="confirm_password">Confirm New Password</label>
    <input type="password" name="confirm_password" id="confirm_password" required minlength="8">
    
    <input type="submit" value="Reset Password">
  </form>
{% endblock %}